.Login {
	max-width: 400px;
	margin-top: 10%;
	border: 1px solid lightgray;
	border-radius: 20px;
	padding: 25px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.warning {
	color: red;
}

.error {
	color: red;
	text-align: center;
}

.p-login {
	text-align: center;
}

.switch-login {
	color: blue;
}
