.list-title {
	font-size: 20pt;
	font-weight: bold;
	position: sticky;
	text-align: center;
	background-color: #ffffff;
	width: 100%;
	top: 0;
	left: 10px;
	z-index: 1;
	border-bottom: 1px solid lightgray;
}

.user-list {
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-wrap: break-word;
	border: 1px solid lightgray;
}

.status-dot {
	height: 10px;
	width: 10px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}
